
<!--<div class="card-group">
    <div class="card">
      <div class="card-title">Task</div>
      <div class="card-body text-center">
        <p class="card-text">{{task}}</p>
      </div>
    </div>
    <div class="card">
        <div class="card-title">Task</div>
        <div class="card-body text-center">
          <p class="card-text">{{parentTask}}</p>

        </div>
      </div>

  </div>-->

  <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Parent task</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{task}}</td>
          <td>{{parentTask}}</td>
        </tr>
        </tbody>
      </table>


  <!--<div class="row">
      <div>
          <strong>Task</strong>
      </div>
      <div class="col-3">
        {{task}}
      </div>
      <div>
          <strong>Parent Task</strong>
      </div>
      <div class="col-3">
        {{parentTask}}
      </div>
      
    </div>-->
































